- var paginationSize = 6
- var anchor = '#index'
.center
  ul.pagination
    if currentPage - 1 >= 0
      //li
      //  a(href=pages[0].url + anchor) ««
      li
        a(href=pages[currentPage - 1].url + anchor) «

    each page, pageNum in pages
      if Math.abs(pageNum - currentPage) < paginationSize / 2 || (currentPage < paginationSize / 2 && pageNum < paginationSize)
        if pageNum == currentPage
          li
            a(href=page.url + anchor).active= parseInt(pageNum) + 1
        else
          li
            a(href=page.url + anchor)= parseInt(pageNum) + 1

    if Object.keys(pages).length > currentPage + 1
      li
        a(href=pages[currentPage + 1].url + anchor) »
      //li
      //  a(href=pages[Object.keys(pages).length - 1].url + anchor) »»
